.view {
    height: 300px;
    background-color: #ddd;
    border: 1px solid #dcdcdc;;
    margin: 10px 0;
    max-width: 500px;
}
.navbar {
    line-height: 50px;
}
.view > div {
    height: 100%;
    width: 100%;
    position: relative;
}
.view > div img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-left: 3px;
    float: right;
}
.bg {
    background-color: #eee;
    padding: 5px;
}
.form-input {
    border: 1px solid #ccc;
    color: #555;
    line-height: 22px;
}
.media {
    height: 100%;
    width: 100%;
}
.label-info {
    text-align: left;
    line-height: 20px;
    background-color: rgba(0,0,0,.4);
}
.label-info > div {
    margin: 5px 0;
}
select {
    width: 100%!important;
}
#tip {
    color: red;
}
.no-stream {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 300px;
}